#school,
#main,
#teacherSelect,
#name,
#age,
#educ, 
.workday,
button {
    margin-bottom: 10px;
}

table{
    border: 3px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}



